/** @format */

body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
		"Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
		sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
		monospace;
}

.App {
	min-height: 100vh;
	background-image: linear-gradient(
			to bottom,
			rgba(0, 0, 6, 0.52),
			rgba(2, 2, 2, 0.564)
		),
		url("https://images.unsplash.com/photo-1490818387583-1baba5e638af?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTZ8fGNvb2tpbmd8ZW58MHx8MHx8&auto=format&fit=crop&w=800&q=60");

	background-attachment: fixed;

	background-size: cover;
}
.Search-form {
	min-height: 40vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.search-bar {
	box-shadow: inset 0px 0px 0px 1.5px #de7777;
	background-color: rgba(244, 240, 238, 0.9);
	width: 30rem;
	padding: 0 2rem;
	height: 4rem;
	border: none;
	font-size: 30px;
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;
}
.search-button {
	box-shadow: inset 0px 0px 0px 1.5px #de7777;
	height: 4rem;
	margin-left: -4px;
	padding: 0 30px;
	font-size: 26px;
	border: none;
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
	background-image: linear-gradient(
		to right,
		#de7777 10%,
		rgb(137, 65, 76) 100%
	);
	color: white;
	cursor: pointer;
}
.Results {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-row-gap: 10rem;
	grid-column-gap: 10rem;
	margin: 0 20rem;
}
.ResultsText {
	font-size: 2rem;
	color: white;
	margin-top: 5rem;

	padding: 5px 40px;
	border-radius: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	-ms-border-radius: 10px;
	-o-border-radius: 10px;
}
.ResultsT {
	font-size: 30px;
	color: white;
	text-align: center;
	margin-right: 30px;
}
